# Binning

In [16]:
import pandas as pd
import numpy as np

creating a raw dataset for demonstration purposes

In [17]:
data = {'class':['first','second','third']*4,
        'div':['low','high']*6,
        'name':['ganesh','ramesh','suresh','paramesh','gireesh','rishikesh','rekha','lekha','geetha','seetha','kavitha','arjun'],
        'first test':np.random.randint(1,50,12),
        'second test':np.random.randint(1,50,12)}

lets define a dataframe with column names

In [18]:
data

{'class': ['first',
  'second',
  'third',
  'first',
  'second',
  'third',
  'first',
  'second',
  'third',
  'first',
  'second',
  'third'],
 'div': ['low',
  'high',
  'low',
  'high',
  'low',
  'high',
  'low',
  'high',
  'low',
  'high',
  'low',
  'high'],
 'first test': array([20,  4, 14, 31, 12, 24, 22, 30, 13, 46, 44, 22]),
 'name': ['ganesh',
  'ramesh',
  'suresh',
  'paramesh',
  'gireesh',
  'rishikesh',
  'rekha',
  'lekha',
  'geetha',
  'seetha',
  'kavitha',
  'arjun'],
 'second test': array([ 7, 47, 29, 40, 10, 47, 26, 45, 22,  8, 46, 35])}

In [3]:
k = pd.DataFrame(data,columns = ['class','div','name','first test','second test'])

defining bins

In [4]:
bins = [0,10,20,30,40,50]

Checking what value falls under which category

In [5]:
categories = pd.cut(k['second test'],bins)

In [6]:
categories

0      (0, 10]
1      (0, 10]
2     (30, 40]
3     (40, 50]
4      (0, 10]
5     (10, 20]
6     (30, 40]
7     (20, 30]
8     (30, 40]
9     (20, 30]
10    (40, 50]
11    (40, 50]
Name: second test, dtype: category
Categories (5, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50]]

let's label the bins

always remember that number of elements in bin is always one more than the number of elements in label columns.

In [7]:
label = ['f','d','c','b','a']

In [8]:
pd.cut(k['first test'],bins,labels = label)

0     a
1     c
2     b
3     c
4     d
5     b
6     b
7     b
8     d
9     d
10    c
11    a
Name: first test, dtype: category
Categories (5, object): [a < b < c < d < f]

In [9]:
k['categories'] = categories

In [10]:
k

     class   div       name  first test  second test categories
0    first   low     ganesh          49            6    (0, 10]
1   second  high     ramesh          29            3    (0, 10]
2    third   low     suresh          31           33   (30, 40]
3    first  high   paramesh          28           46   (40, 50]
4   second   low    gireesh          12            9    (0, 10]
5    third  high  rishikesh          36           18   (10, 20]
6    first   low      rekha          33           38   (30, 40]
7   second  high      lekha          40           27   (20, 30]
8    third   low     geetha          16           33   (30, 40]
9    first  high     seetha          20           28   (20, 30]
10  second   low    kavitha          21           48   (40, 50]
11   third  high      arjun          45           46   (40, 50]

In [11]:
k['binned'] = pd.cut(k['second test'],bins,labels = label)

Final dataframe after binning

In [12]:
k

     class   div       name  first test  second test categories binned
0    first   low     ganesh          49            6    (0, 10]      f
1   second  high     ramesh          29            3    (0, 10]      f
2    third   low     suresh          31           33   (30, 40]      b
3    first  high   paramesh          28           46   (40, 50]      a
4   second   low    gireesh          12            9    (0, 10]      f
5    third  high  rishikesh          36           18   (10, 20]      d
6    first   low      rekha          33           38   (30, 40]      b
7   second  high      lekha          40           27   (20, 30]      c
8    third   low     geetha          16           33   (30, 40]      b
9    first  high     seetha          20           28   (20, 30]      c
10  second   low    kavitha          21           48   (40, 50]      a
11   third  high      arjun          45           46   (40, 50]      a

exploring bins command.

In [13]:
a= pd.cut(k['second test'],bins,retbins = True)
# it will return bins boolean.

In [14]:
a

(0      (0, 10]
 1      (0, 10]
 2     (30, 40]
 3     (40, 50]
 4      (0, 10]
 5     (10, 20]
 6     (30, 40]
 7     (20, 30]
 8     (30, 40]
 9     (20, 30]
 10    (40, 50]
 11    (40, 50]
 Name: second test, dtype: category
 Categories (5, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50]],
 array([ 0, 10, 20, 30, 40, 50]))

In [15]:
pd.cut(k['second test'],bins,retbins = True,include_lowest = True)

# understand the subtle differnce include_lowest brought into the output.

(0     (-0.001, 10.0]
 1     (-0.001, 10.0]
 2       (30.0, 40.0]
 3       (40.0, 50.0]
 4     (-0.001, 10.0]
 5       (10.0, 20.0]
 6       (30.0, 40.0]
 7       (20.0, 30.0]
 8       (30.0, 40.0]
 9       (20.0, 30.0]
 10      (40.0, 50.0]
 11      (40.0, 50.0]
 Name: second test, dtype: category
 Categories (5, interval[float64]): [(-0.001, 10.0] < (10.0, 20.0] < (20.0, 30.0] < (30.0, 40.0] < (40.0, 50.0]],
 array([ 0, 10, 20, 30, 40, 50]))