In [ ]:
#head and tail
#attributes enabling information about metadata
#Accelerated Operations; For this we need two separate modules numexpr and bottleneck

In [ ]:
#eq,ne,gt,ge,lt,le stands for equal to ,not equal,greater than,less than,greater equal,less equal
#these binary comparators are introduced for Series and data frames but not for panel

In [ ]:
#boolean resuctors like all(),any(),empty(),bool()

In [ ]:
#combine_first command only first column is filled completely from the available values in two datasets

In [ ]:
#to check whther two dataframes are equal even when there are NaN valuesinstead of all() function it is better to use equals function

In [ ]:
#please take a note about nunique function

In [ ]:
#there is a value_range function which is applied on dataframe and returns a series consisting of minimum and maximum values

In [ ]:
#you can give arguments inside describe function where you can include the outputs you needed

In [ ]:
#idxmin and idxmax if in case find two minimum values in a single row or column then they will return first matching index

In [1]:
import numpy as np
import pandas as pd

In [2]:
df5 =pd.DataFrame({"A": np.random.randint(0, 7, size=50),
                 "B": np.random.randint(-10, 15, size=50)})

In [3]:
df5

    A   B
0   6  -8
1   1   0
2   2  -6
3   6  -7
4   6  -1
5   0  -8
6   6  -5
7   3   0
8   3  -8
9   2   1
10  0   6
11  0 -10
12  5  -4
13  6   6
14  3   6
15  3  -7
16  2  12
17  4  -9
18  2  -8
19  1   4
20  0 -10
21  3   4
22  4  -3
23  3  -7
24  4   0
25  4  -7
26  3  -7
27  5   3
28  6  -7
29  0   6
30  1  -3
31  1  -8
32  3  -2
33  0  -5
34  1  -7
35  0  -1
36  5  -9
37  1  10
38  3  -6
39  2   4
40  5   6
41  3  -8
42  4  -3
43  0  -3
44  2  13
45  3  -9
46  0   3
47  5   9
48  5   9
49  2  13

In [4]:
df5.mode()

   A  B
0  3 -7

In [6]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])
s5

0    1
1    1
2    3
3    3
4    3
5    5
6    5
7    7
8    7
9    7
dtype: int64

In [7]:
s5.mode()

0    3
1    7
dtype: int64

In [8]:
arr = np.random.randn(20)

In [9]:
arr

array([ 0.44534428, -0.15122636,  0.60679621, -1.14556919,  1.91400518,
       -0.06036329, -0.64424605,  1.12242429,  0.05329113,  0.56327476,
        0.72691489,  1.42996333, -0.40380638, -0.66756004, -0.36469447,
       -1.06327788,  0.89667571,  0.38844843, -0.2200978 ,  0.29941607])

In [11]:
factor = pd.cut(arr, 4)

In [12]:
factor

[(0.384, 1.149], (-0.381, 0.384], (0.384, 1.149], (-1.149, -0.381], (1.149, 1.914], ..., (-1.149, -0.381], (0.384, 1.149], (0.384, 1.149], (-0.381, 0.384], (-0.381, 0.384]]
Length: 20
Categories (4, interval[float64]): [(-1.149, -0.381] < (-0.381, 0.384] < (0.384, 1.149] < (1.149, 1.914]]

In [13]:
import pandas.util.testing as tm

In [15]:
panel = tm.makePanel(5)

In [16]:
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: ItemA to ItemC
Major_axis axis: 2000-01-03 00:00:00 to 2000-01-07 00:00:00
Minor_axis axis: A to D

In [ ]:
#fillna will not make any checks on the order of indexes
#but when given as a argument inside reindex function if the index is not in order then it throws valueerror.

In [17]:
#you can apply any method 
s = pd.Series(['a_b_c','d_e_f',np.nan,'g_h_i'])

In [19]:
s

0    a_b_c
1    d_e_f
2      NaN
3    g_h_i
dtype: object

In [20]:
s.str.split('_')

0    [a, b, c]
1    [d, e, f]
2          NaN
3    [g, h, i]
dtype: object

In [26]:
s.str.split('_').str[:][1]

['d', 'e', 'f']

In [1]:
#get_dummies return a boolean checking whther a value is present in the given seriesb

In [ ]:
#order will sort the values
s.order
#gives first nsmallest and nlargest numbers
s.nlargest
s.nsmallest

In [ ]:
#it will all the data counts
get_dtype_counts()

In [ ]:
#it will reindex just like the right
reindex_like()

In [ ]:
convert_object(convert_numeric= True)

In [ ]:
#upcasting is promotion when two unequal data types are added they are most likely upcasted to next general data frame
#for example float32 to float64

In [ ]:
#covert_objects(convert_dates=coerce) will coerce the dates which are in the shape of dates

In [ ]:
select_dtypes(include=[bool])
#you can get all the datatypes you needed by including or excluding a value in select dtypes function

In [ ]:
subtypes(np.generic)
#it will give all the subtypes