In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.options.display.max_rows

60

In [6]:
pd.reset_option('display.max_rows')

In [7]:
pd.get_option('display.max_rows')

60

In [9]:
pd.set_option('display.max_rows',100)

In [10]:
pd.get_option('display.max_rows')

100

In [13]:
pd.reset_option('display.max_rows')
#it is not necessary that you give display.max_rows everytime you can also give max_r or something like that but only thing is
#that it should distinctly recognisable
#max_col cannot be given shorthand because max_colwidth and max_columns two diff functions are there

In [14]:
pd.get_option('display.max_rows')

60

In [ ]:
#pandas.options.display.max_rows is a generic method but we have 5 methods which encompasses all the options like
#get_option
#set_option
#reset_option
#describe_option
#option_context ; these revert back to original settings after a codebock is executed this generally started by with keyword

In [15]:
#get mode.sim_interactive it returns false by default

In [ ]:
#It is possible to deprecate multiple options at once 
pd.reset_option('^display')
#it will reset all the options with display in command word

In [ ]:
set_option('max_rows')
set_option('expand_frame_repr')  this means that it extends frame without giving any ellipsis(across multiple lines)

In [16]:
#max_colwidth
#max_info_columns
#you can set precision
#chop_threshold to round every value to zero once it is below the threshold
#there is colheader_justify option with arguments left and right where we can align the column label

In [ ]:
#mode.use_inf_as_null
#mode.sim.interactive
#mode.chained_assignment   It rsaises an exception if there is a chained assignment
#io.excel.xlsx.writer

In [ ]:
#To produce a particular format we dont use set_options
#but we use set_eng_float_format
pd.set_eng_float_format(accuracy=3,use_eng_prefix - True)

In [ ]:
#indexing and slicing operations.
#slicing operations can be done in using three commands such as loc,iloc and ix

In [19]:
df1 = pd.DataFrame(np.random.randn(6,4),
                index=list('abcdef'),
                columns=list('ABCD'))

In [27]:
df1.loc['a']>0

A    False
B     True
C    False
D     True
Name: a, dtype: bool

In [26]:
df1.loc[:,df1.loc['a']>0]

          B         D
a  0.624640  0.081354
b -1.462823  0.346851
c -0.694527  1.026340
d -0.402420 -0.716460
e  1.098868 -0.642282
f -0.755094 -0.354210

In [41]:
data = np.random.randn(8,6)
dates = pd.date_range('20170718',periods=8)
df = pd.DataFrame(data,index = dates,columns=list('ABCDEF'))
df.at[dates[-1]+1, 'F'] = 7

In [42]:
df

                   A         B         C         D         E         F
2017-07-18  0.409704  0.889196 -1.665223 -0.880352  0.195487  0.778308
2017-07-19 -0.592070  0.087914 -1.560311 -0.441954  0.470480 -1.094389
2017-07-20 -0.119200  1.418550 -0.995983 -0.894691 -1.810315  0.748493
2017-07-21 -0.459559  0.103733  1.129121  0.861106 -1.615406 -0.908715
2017-07-22  2.456409  0.362164  1.770157  1.865132 -0.150394 -0.835452
2017-07-23  0.289703  0.712319  0.793701 -0.686576 -1.052401 -0.504742
2017-07-24 -0.306261  0.643465 -1.010891  0.022846 -0.031638  0.267424
2017-07-25  1.967351  1.644746  0.328611 -0.996275 -0.182435 -0.751108
2017-07-26       NaN       NaN       NaN       NaN       NaN  7.000000

In [43]:
dates[-1]

Timestamp('2017-07-25 00:00:00', freq='D')

In [48]:
df = pd.DataFrame({'vls': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],'ids2': ['a', 'n', 'c', 'n']})

In [51]:
values = ['a','b']

In [58]:
df.isin(['a','b'])

     ids   ids2    vls
0   True   True  False
1   True  False  False
2  False  False  False
3  False  False  False

In [68]:
values = {'ids': ['a', 'b','1'], 'vls': [1, 2,6,3]}

In [69]:
df.isin(values)

     ids   ids2    vls
0   True  False   True
1   True  False   True
2  False  False   True
3  False  False  False

In [75]:
dflookup = pd.DataFrame(np.random.rand(20,4), columns = ['A','B','C','D'])

In [76]:
dflookup

           A         B         C         D
0   0.966151  0.144825  0.359952  0.451164
1   0.364508  0.572750  0.599954  0.239236
2   0.488560  0.187765  0.744424  0.966398
3   0.273051  0.682516  0.133782  0.845412
4   0.479732  0.388902  0.645903  0.748864
5   0.763585  0.087284  0.917983  0.114684
6   0.040210  0.826135  0.639961  0.296665
7   0.810413  0.691797  0.732505  0.978592
8   0.648329  0.521198  0.462386  0.993225
9   0.672056  0.501061  0.071414  0.209038
10  0.048148  0.480832  0.527811  0.958793
11  0.838544  0.309546  0.180372  0.512872
12  0.922235  0.510989  0.099139  0.134909
13  0.815156  0.118472  0.025990  0.577208
14  0.071767  0.279856  0.314281  0.805722
15  0.762216  0.469866  0.844494  0.284625
16  0.570178  0.387342  0.532866  0.659963
17  0.621479  0.727998  0.506136  0.711176
18  0.472804  0.989084  0.312172  0.184190
19  0.073307  0.084569  0.945669  0.830286

In [77]:
dflookup.lookup([1,2,3,4,5], ['B','C','A','B','D'])

array([ 0.57275013,  0.7444236 ,  0.27305087,  0.38890214,  0.11468383])

In [82]:
arrays = [['bar','bar','baz','baz','foo','foo','qux','qux'],['one','two','one','two','one','two','one','two']]

In [81]:
np.array([[1,2,3],[1,2,3]])

array([[1, 2, 3],
       [1, 2, 3]])

In [84]:
tuples = list(zip(*arrays))

In [87]:
a = pd.MultiIndex.from_tuples(tuples,names = ['First','Second'])

In [89]:
df = pd.DataFrame(np.random.randn(8,4),index=a,columns = list('ABCD'))

In [90]:
df

                     A         B         C         D
First Second
bar   one    -0.436389 -1.331700  0.123662 -0.241798
      two    -0.943330  1.862383  0.761892 -0.864292
baz   one    -0.332360  1.328466 -1.259500 -2.877741
      two     0.815631 -1.164070  2.047427 -1.066927
foo   one     1.231872  0.188374  0.608184  0.150260
      two    -1.037964  0.077486  1.528084  1.294865
qux   one     0.732887  1.555939 -0.825217  0.868703
      two    -0.708098  1.255918  1.972392 -1.176472

In [91]:
ser = pd.Series(np.random.rand(8),index = tuples)

In [92]:
ser

(bar, one)    0.895959
(bar, two)    0.279682
(baz, one)    0.883630
(baz, two)    0.535333
(foo, one)    0.983155
(foo, two)    0.121304
(qux, one)    0.828934
(qux, two)    0.588413
dtype: float64

In [101]:
pd.set_option('display.multi_sparse',False)

In [102]:
df

                     A         B         C         D
First Second
bar   one    -0.436389 -1.331700  0.123662 -0.241798
bar   two    -0.943330  1.862383  0.761892 -0.864292
baz   one    -0.332360  1.328466 -1.259500 -2.877741
baz   two     0.815631 -1.164070  2.047427 -1.066927
foo   one     1.231872  0.188374  0.608184  0.150260
foo   two    -1.037964  0.077486  1.528084  1.294865
qux   one     0.732887  1.555939 -0.825217  0.868703
qux   two    -0.708098  1.255918  1.972392 -1.176472

In [105]:
ser[:-2]

(bar, one)    0.895959
(bar, two)    0.279682
(baz, one)    0.883630
(baz, two)    0.535333
(foo, one)    0.983155
(foo, two)    0.121304
dtype: float64

In [107]:
ser+ser[:-2]

(bar, one)    1.791918
(bar, two)    0.559365
(baz, one)    1.767261
(baz, two)    1.070666
(foo, one)    1.966309
(foo, two)    0.242608
(qux, one)         NaN
(qux, two)         NaN
dtype: float64

In [108]:
df[:-2]

                     A         B         C         D
First Second
bar   one    -0.436389 -1.331700  0.123662 -0.241798
bar   two    -0.943330  1.862383  0.761892 -0.864292
baz   one    -0.332360  1.328466 -1.259500 -2.877741
baz   two     0.815631 -1.164070  2.047427 -1.066927
foo   one     1.231872  0.188374  0.608184  0.150260
foo   two    -1.037964  0.077486  1.528084  1.294865

In [111]:
pd.set_option('display.multi_sparse',True)

In [112]:
df[:-2]

                     A         B         C         D
First Second
bar   one    -0.436389 -1.331700  0.123662 -0.241798
      two    -0.943330  1.862383  0.761892 -0.864292
baz   one    -0.332360  1.328466 -1.259500 -2.877741
      two     0.815631 -1.164070  2.047427 -1.066927
foo   one     1.231872  0.188374  0.608184  0.150260
      two    -1.037964  0.077486  1.528084  1.294865

In [115]:
df+df[::3]

                     A         B         C         D
First Second
bar   one    -0.872778 -2.663400  0.247324 -0.483597
      two          NaN       NaN       NaN       NaN
baz   one          NaN       NaN       NaN       NaN
      two     1.631262 -2.328140  4.094853 -2.133854
foo   one          NaN       NaN       NaN       NaN
      two          NaN       NaN       NaN       NaN
qux   one     1.465773  3.111877 -1.650434  1.737406
      two          NaN       NaN       NaN       NaN

In [116]:
df.T

First        bar                 baz                 foo                 qux  \
Second       one       two       one       two       one       two       one
A      -0.436389 -0.943330 -0.332360  0.815631  1.231872 -1.037964  0.732887
B      -1.331700  1.862383  1.328466 -1.164070  0.188374  0.077486  1.555939
C       0.123662  0.761892 -1.259500  2.047427  0.608184  1.528084 -0.825217
D      -0.241798 -0.864292 -2.877741 -1.066927  0.150260  1.294865  0.868703

First
Second       two
A      -0.708098
B       1.255918
C       1.972392
D      -1.176472